<!DOCTYPE html>
<html>
<head lang="en">
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>登录时光书屋web</title>
    <link type="text/css" rel="stylesheet" href="{% static 'WebEditor/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'WebEditor/css/main.css' %}">
</head>
<body>
<div class="container">



    <form action="/web/login/" method="post" style="float: right; width: 300px; margin-top: 150px">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">用户名：</label>
            <input id="username" type="text" name="username" class="form-control">
        </div>
        <div class="form-group">
            <label for="pw">密码：</label>
            <input id="pw" type="password" name="password" class="form-control">
        </div>
        <a href="/web/register/" class="btn btn-default">注册</a>
        <input type="submit" value="登录" class="btn btn-primary" style="margin-left: 30px">
    </form>

    <img src="{% static 'WebEditor/img/background.jpg' %}" style="position: fixed; height: 307px; width: 545px; margin-top: 100px">
</div>
</body>
    <script type="text/javascript" src="{% static 'WebEditor/jquery-1.7.1.min.js' %}"></script>
</html>