<!DOCTYPE html>
<html>
<head lang="en">
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>用户详情</title>
    <link rel="stylesheet" type="text/css" href="{% static 'WebEditor/css/main.css' %}">
</head>
<body>
    <a href="/web/editorPage/?type=textEditor"><img src="{% static 'WebEditor/img/text.jpg' %}"></a>
    <a href="/web/editorPage/?type=webEditor"><img src="{% static 'WebEditor/img/web.jpg' %}"></a>
    <a href="/web/editorPage/?type=imageEditor"><img src="{% static 'WebEditor/img/image.jpg' %}"></a>
</body>
    <script src="{% static 'WebEditor/jquery-1.7.1.min.js' %}"></script>
</html>